@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hsb-navy: #1d3c74;
  --hsb-blue: #1955a6;
  --hsb-green: #61ce70;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #f7f9fc;
  color: #33373d;
}

* {
  box-sizing: border-box;
}
